@import 'normalize.css';
@import 'reset.css';
@font-face {
    font-family: SAMANimport;
    src: url(fonts/SAMAN.ttf);
}
@font-face {
    font-family: Lobsterimport;
    src: url(fonts/Lobster-Regular.ttf);
}

#css-zen-garden{
    background-image:url(images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.page-wrapper {
    position: relative;
    max-width: 800px;
    margin:auto;
    text-align: center;
    color: #800000;
    border-style: solid;
    border-width: 13px;
    -webkit-box-shadow: 0 0 24px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 24px rgba(0,0,0,0.3);
    box-shadow: 0 0 24px rgba(0,0,0,0.3);
    background: rgba(250,243,204,0.9);
    border-color: rgba(153, 0, 0,0.3);
}

h1{
    text-align:center;
    font-family: SAMANimport;
    font-size:6.5em;
    color:#800000;
    padding-top: .5em;
    letter-spacing: -7px;
    font-weight:800;
    text-transform:uppercase;
    animation:blur 2s ease-out infinite;
    text-shadow:0px 0px 5px #ffff00,
    0px 0px 7px #ffff00;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #ff0000, 
      0px 0px 25px #ff0000,
      0px 0px 25px #ff0000,
      0px 0px 25px #ff0000,
      0px 0px 25px #ff0000,
      0px 0px 25px #ff0000,
      0px 0px 25px #ff0000,
      0px 0px 50px #ff0000,
      0px 0px 50px #ff0000,
      0px 0px 50px #ffff00,
      0px 0px 150px #ffff00,
      0px 10px 100px #ffff00,
      0px 10px 100px #ffff00,
      0px 10px 100px #ffff00,
      0px 10px 100px #ffff00,
      0px -10px 100px #ffff00,
      0px -10px 100px #ffff00;}
}

header h2{
    font-family: SAMANimport;   
    font-size: 5em;
    padding-top: 6.5em;
    margin-bottom: 0em;
    line-height: 1em;
    background: url(images/h.png) no-repeat center top;
    background-size: 6em;
    animation:blur 2s ease-out infinite;
    text-shadow:0px 0px 5px #40ff00,
    0px 0px 7px #40ff00;
}

h3{
    color:rgb(0, 51, 102);
    font-family: SAMANimport;
    font-size: 3.5em;
    margin: 1em auto 1em;
    padding: 1em 1em 1em 1em;
    line-height: 1;
    background: url(images/bottom.png) repeat-x top right, url(images/bottom.png) repeat-x bottom left;
    width: 80%;
    height: auto;
    animation:blur 2s ease-out infinite;
    text-shadow:0px 0px 5px #00ffff,
    0px 0px 7px #00ffff;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #ff6600, 
      0px 0px 25px #ff6600,
      0px 0px 25px #ff6600,
      0px 0px 25px #ff6600,
      0px 0px 25px #ff6600,
      0px 0px 25px #ff6600,
      0px 0px 25px #ff6600,
      0px 0px 50px #ff6600,
      0px 0px 50px #ff6600,
      0px 0px 50px #ffff00,
      0px 0px 150px #ffff00,
      0px 10px 100px #ffff00,
      0px 10px 100px #ffff00,
      0px 10px 100px #ffff00,
      0px 10px 100px #ffff00,
      0px -10px 100px #ffff00,
      0px -10px 100px #ffff00;
    }
}

p{
    width: 100%;
    font-family: Lobsterimport;
    font-size: 1.5em;
    padding-bottom: 2em;
}

a{
    text-decoration: none;
    color: #ff0066;
}

a:hover {
    font-style: italic;
}

li:hover {
    font-style: italic;
}

abbr{
    text-decoration: none !important;
}

.clear{
    clear: both;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

.summary p:first-child{
    width: 100%;
    margin-top: 2em;
    font-family: Lobsterimport;
    font-size: 1.8em;
}

.summary p:last-child{
    width: 100%;
    padding-bottom: 2em;
    font-family: Lobsterimport;
    font-style: italic;
    font-size: 1.5em;
}

footer{
    width: 100%;
    font-family: SAMANimport;   
    font-size: 1.5em;
    padding-top: 7em;
    padding-bottom: 4em;
    margin-bottom: 0em;
    line-height: 1em;
    background: url(images/footer1.png) no-repeat center top;
    background-size: 15em;
}

footer a{
    font-family: Lobsterimport;
    font-size: 1.5em;
    background: url(images/bottom.png) repeat-x top right, url(images/bottom.png) repeat-x bottom left;
    color: #3399ff;
    padding: 1em 1em 1em 1em;
    text-align: center;
    margin: 0;
}

.clear{
    clear: both;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

.sidebar{
    overflow: hidden;
    max-width: 100%;
    font-family: Lobsterimport;
    text-align: center;
}

.design-selection{
    border-right: 2px solid #663300;
    float: left;
    width: 50%;
}

h3{
    width: 80%;
    margin-top: 0;
}

.design-selection ul{
    padding: 0;
    list-style: none;
    width: 80%;
    padding-top: 0;
    margin-left: 2em;

}

.design-selection ul li{
    font-size: 1.2rem;
    margin-bottom: 1em;
    color: #3d5c5c;
}

.design-archives{
    float: right;
    width: auto;
}

h3{
    width: 40%;
    padding-right: 2em; 
}

.design-archives ul{
    width: 100%;
    padding-top: 0;
    margin-left: 5em;
    text-align: center;

}

.design-archives ul li{
    float: left;
    font-size: 1.2rem;
    margin: 0 0 1.5em;
    color: #3d5c5c;
}

.zen-resources{
    float: right;
    width: 50%;
    margin-top: -22em;
    font-family: Lobsterimport;
    font-size: 1em;

}

.resources{
    width: 40%;
    padding-right: 2em; 
}

.zen-resources ul{
    width: 100%;
    padding-top: 0;
    margin-left: 5em;
    text-align: center;

}

.zen-resources ul li{
    padding-right: 8em;
    font-size: 1.2rem;
    margin: 0 0 1.5em;
    color: #3d5c5c;
}